$brightBlue: hsl(220, 98%, 61%);
$checkBackground: linear-gradient(
  45deg,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);

$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlue: hsl(234, 39%, 85%);
$lightGrayishBlue: hsl(236, 33%, 92%); /*(hover) */
$darkGrayishBlue: hsl(234, 11%, 52%);
$veryDarkGrayishBlue: hsl(233, 14%, 35%);
$veryDarkGrayishBlue2: hsl(237, 14%, 26%);

.item__container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1em;
  background-color: $veryDarkDesaturatedBlue;
  border-radius: 2px;
  box-shadow: 5px 5px 5px 5px #535252;
}

.item__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.item__body img {
  cursor: pointer;
}

.item__desc {
  color: $lightGrayishBlue;
}

input[type="checkbox"] {
  visibility: hidden;
}

.checkbox__div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid bisque;
  margin-right: 1em;
  margin-left: -1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.color_background {
  background: $checkBackground;
}

.item__completed {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}
